/*  */
.mainNav {
    background-color: blueviolet;
    margin-bottom: 10px;
    min-height: 50px;
}

.mainNav ul {
    list-style-type: none;
}

.mainNav li {
    display: inline-block;
    margin-right: 10px;
}

.mainNav a {
    color: chartreuse;
    text-decoration: none;
}

.mainNav a.active {
    background-color: chocolate;
}

/* regole per personaggi Rick & Morty */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}


.container {
    padding: 2rem;
    background-color: rgb(39, 43, 51);
    color: rgb(245, 245, 245);
    text-align: center;
}

.characters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.character {
    margin: 20px;
    width: 500px;
    height: 220px;
    display: flex;
    background-color: rgb(60, 62, 68);
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.character-image {
    flex: 2 1 0%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
    }
}

.character-info {
    padding: 25px;
    flex: 3 1 0%;
    text-align: left;
    color: rgb(245, 245, 245);

    .character-name {
        font-size: 1.5rem;
    }

    .character-status-origin {
        margin-top: 10px;
        font-size: 1.1rem;

        .status-icon {
            display: inline-block;
            height: 0.5rem;
            width: 0.5rem;
            margin-right: 0.375rem;
            border-radius: 50%;

            &.is-alive {
                background-color: rgb(85, 204, 68);
            }

            &.is-unknown {
                background-color: rgb(158, 158, 158);
            }

            &.is-dead {
                background-color: rgb(214, 61, 46);
            }
        }
    }
}